/* .heading{
  text-align:center;
} */
.container > div> label{
  color:purple;
  display:flex;
  align-items: center;
  justify-content: center;
}
.container > div {
  margin-right: 20px; /* Adjust the margin as needed for spacing between elements */
}
.hero-sec{
  /* margin-left:600px; */
  align-items:center;
  justify-content: center;
}
.input-field{
  width:500px;
  color:purple;
  
 
}
.Button{
  background-color:lightblue;
}
